legend{
    text-align:center;
    font-weight: bold;
    font-size: larger;
}
h1{
    text-align: center;
    color:black;
}
p{
    text-align: center;
    color: black;
    font-weight:  bold;
}
h2{
    text-align: center;
    color:black;
}
h3{
    text-align: center;
    color:black;
}
h4{
    text-align: center;
    color:black;
}